{% extends 'base.html' %}
{% load static %}
{% block content %}<br><br>

<div class="jumbotron">
<div id="abc">
    <h1>Select your Gender</h1><br><br>
    <a href="{% url 'BMI'%}">
        <button type="submit" value="Male">
        <img src="{% static 'male.jpeg'%}" />
<!--            <h1 class="neonText">Male</h1>-->
        </button></a> &nbsp;

    <a href="{% url 'BMI'%}">
        <button type="submit" value="Female">
            <img src="{% static 'female.jpeg'%}" />
<!--                        <h1 class="neonText">Female</h1>-->

        </button></a>
</div>
</div>

{% endblock %}