{% extends 'base.html' %}
{% block content %}<br><br>
<div class="jumbotron">
  <h1 class="display-4">BeFit</h1>
  <p class="lead">A pocket friendly solution to get fit in easy way and in just 30 days!
  You don’t need to go to a gym to get a good long-term workout with the results you want, whether it’s building strength or losing weight</p>
  <hr class="my-4">
  <p>Proceed further to get fit.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'BMI' %}" >proceed</a>
  </p>
</div>
{% endblock %}