{% extends "base.html" %}
{% block content %}<br><br>

<div class="jumbotron">
    <h1>Registration Form</h1>
        <h2 style="color:white">Fill out the form carefully for registration</h2 style="color:white"><br>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
    <form class="post-form" method="post">

    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="save btn btn-default">Sign up</button>
    </form>
</div>
{% endblock %}